################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ddd-Workshop/.vs/Ddd-Workshop/v17
